@using EduHome.Models
@model SearchVM

<div>
    @if (Model.Teachers.Count != 0 || Model.Events.Count != 0)
    {
        @foreach (var teacher in Model.Teachers)
        {
            <p>@teacher.FullName</p>
        }

        @foreach (var _event in Model.Events)
        {
            <p>@_event.Name</p>
        }
    }

    else
    {
        <p>No mathces.</p>
    }

</div>