@using EduHome.Models
@model Testimonal

<div class="testimonial-area pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">
            <div class="testimonial-owl owl-theme owl-carousel">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <div class="single-testimonial">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="~/img/@Model.PersonPhoto" alt="testimonial">
                            </div>
                            <div class="testimonial-content">
                                <p>@Model.Text</p>
                                <h4>@Model.Fullname</h4>
                                <h5>@Model.Position</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>