<div class="container" style="display:flex; justify-content:center; align-items:center">
    <row style="flex-direction:column !important">
        <a asp-controller="Account" asp-action="Register" class="btn btn-success">Register a new admin</a>
        <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
    </row>
</div>
