@model LogoVM
<div class="row justify-content-center">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit Logo</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label asp-for="Photo">Photo</label>
                        <img width="400px" src="~/img/@Model.Image" id="blah" />
                        <input asp-for="Photo" class="form-control" accept="image/*" placeholder="Photo" id="imgInp">
                        <span class="text-danger" asp-validation-for="Photo"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button asp-action="Index" class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>imgInp.onchange = evt => {
  const [file] = imgInp.files
  if (file) {
    blah.src = URL.createObjectURL(file)
  }
}</script>