@model TeacherVM


<div class="row justify-content-center">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create course</h4>
                <form enctype="multipart/form-data" class="forms-sample" method="post">
                    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label asp-for="Fullname">Fullname</label>
                        <input asp-for="Fullname" class="form-control" placeholder="Fullname">
                        <span class="text-danger" asp-validation-for="Fullname"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Position">Position</label>
                        <input asp-for="Position" class="form-control" placeholder="Position">
                        <span class="text-danger" asp-validation-for="Position"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Info">Info</label>
                        <input asp-for="Info" class="form-control" placeholder="Info">
                        <span class="text-danger" asp-validation-for="Info"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Degree">Degree</label>
                        <input asp-for="Degree" class="form-control" placeholder="Degree">
                        <span class="text-danger" asp-validation-for="Degree"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Experience">Experience</label>
                        <input asp-for="Experience" class="form-control" placeholder="Experience">
                        <span class="text-danger" asp-validation-for="Experience"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Hobbies">Hobbies</label>
                        <input asp-for="Hobbies" class="form-control" placeholder="Hobbies">
                        <span class="text-danger" asp-validation-for="Hobbies"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Faculty">Faculty</label>
                        <input asp-for="Faculty" class="form-control" placeholder="Faculty">
                        <span class="text-danger" asp-validation-for="Faculty"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mail">Mail</label>
                        <input asp-for="Mail" class="form-control" placeholder="Mail">
                        <span class="text-danger" asp-validation-for="Mail"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone">Phone</label>
                        <input asp-for="Phone" class="form-control" placeholder="Phone">
                        <span class="text-danger" asp-validation-for="Phone"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SkypeUserName">SkypeUserName</label>
                        <input asp-for="SkypeUserName" class="form-control" placeholder="SkypeUserName">
                        <span class="text-danger" asp-validation-for="SkypeUserName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FacebookUserName">FacebookUserName</label>
                        <input asp-for="FacebookUserName" class="form-control" placeholder="FacebookUserName">
                        <span class="text-danger" asp-validation-for="FacebookUserName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PinterestUserName">PinterestUserName</label>
                        <input asp-for="PinterestUserName" class="form-control" placeholder="PinterestUserName">
                        <span class="text-danger" asp-validation-for="PinterestUserName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TwitterUserName">TwitterUserName</label>
                        <input asp-for="TwitterUserName" class="form-control" placeholder="TwitterUserName">
                        <span class="text-danger" asp-validation-for="TwitterUserName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Photo">Photo</label>
                        <input asp-for="Photo" class="form-control" accept="image/*" placeholder="Photo">
                        <span class="text-danger" asp-validation-for="Photo"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="form-label select-label">Choose skills</label>
                            <select class="selectpicker" asp-for="SkillsInput" asp-items="@(new SelectList(Model.Skills,"Name","Name"))"></select>
                            <span class="text-danger" asp-validation-for="SkillsInput"></span>
                            <br/>
                            <label asp-for="PercentagesInput">Insert percentages</label>
                            <input asp-for="PercentagesInput" />
                            <span class="text-danger" asp-validation-for="PercentagesInput"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button asp-action="Index" class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section SkillScript
{
    <script src="~/js/skill.js"></script>
}