@model List<Teacher>

<a asp-controller="Teacher" asp-action="CreateTeacher" class="btn btn-success">Create</a>
<table class="table table-dark">
    <thead>
        <tr>
            <th> Id </th>
            <th> Teacher name</th>
            <th> Position </th>
            <th> Photo </th>
            <th> Delete </th>
            <th> Edit </th>
            <th> Details </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model)
        {        
            <tr>
                <td> @teacher.Id </td>
                <td> @teacher.FullName </td>              
                <td> <img src="~/img/@teacher.TeacherImage.Photo" /> </td>
                <td> <a asp-action="DeleteTeacher" asp-route-id="@teacher.Id" class="btn btn-danger"> Delete </a> </td>
                <td> <a asp-action="EditTeacher" asp-route-id="@teacher.Id" class="btn btn-primary"> Edit </a> </td>
                <td> <a class="btn btn-info"> Details </a> </td>
            </tr>
        }
    </tbody>
</table>