<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stellar Admin</title>
    <link rel="stylesheet" href="~/Admin/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/Admin/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Admin/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Admin/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="~/Admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <link rel="stylesheet" href="~/Admin/css/style.css" />
    <link rel="shortcut icon" href="~/Admin/images/favicon.png" />
</head>
<body>
    <div class="d-flex justify-content-center">
        @RenderBody()
    </div>
    <script src="~/Admin/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/Admin/js/vendors/select2/select2.min.js"></script>
    <script src="~/Admin/js/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="~/Admin/js/off-canvas.js"></script>
    <script src="~/Admin/js/misc.js"></script>
    <script src="~/Admin/js/typeahead.js"></script>
    <script src="~/Admin/js/select2.js"></script>
</body>
</html>
