@using EduHome.Models 
@model List<Teacher>

    <div class="teacher-area pb-150">
        <div class="container">
            <div class="row">
                @foreach (var teacher in Model)
                {
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="single-teacher">
                            <div class="single-teacher-img">
                                <a asp-controller="Teacher" asp-action="TeacherDetail" asp-route-id="@teacher.Id"><img src="~/img/@teacher.TeacherImage.Photo" alt="teacher"></a>
                            </div>
                            <div class="single-teacher-content text-center">
                                <h2><a asp-controller="Teacher" asp-action="TeacherDetail" asp-route-id="@teacher.Id">@teacher.FullName.ToUpper()</a></h2>
                                <h4>@teacher.Position</h4>
                                <ul>
                                    <li><a href="https://www.facebook.com/@teacher.TeacherContact.FacebookUserName"><i class="zmdi zmdi-facebook"></i></a></li>
                                    <li><a href="https://www.pinterest.com/@teacher.TeacherContact.PinterestUserName"><i class="zmdi zmdi-pinterest"></i></a></li>
                                    <li><a href="https://www.vimeo.com"><i class="zmdi zmdi-vimeo"></i></a></li>
                                    <li><a href="https://twitter.com/@teacher.TeacherContact.TwitterUserName"><i class="zmdi zmdi-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>