@model List<Blog>
<table class="table table-dark">
    <thead>
        <tr>
            <th> Blog Id </th>
            <th> Photo </th>
            <th> Number of comments </th>
            <th> View comments </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var blog in Model)
        {
            <tr>
                <td> @blog.Id </td>
                <td> <img src="~/img/@blog.BlogImage.Photo" /> </td>
                <td> @blog.Comments.Count </td>
                <td> <a asp-action="ViewComment" asp-route-id="@blog.Id" class="btn btn-info"> Details </a> </td>
            </tr>
        }
    </tbody>
</table>